<br>

<%= render 'backoffice/categories/shared/errors' %>

<div class="panel panel-default">
  <div class="panel-heading">
    Nova categoria
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">
        <%= form_for @category, url: backoffice_categories_path, method: :post do |f| %>
        <div class="form-group">
          <label>Descrição</label>
          <%= f.text_field :description, class: 'form-control' %>
          <p class="help-block">Insira acima a descrição da categoria.</p>
        </div>
        <%= f.submit 'Salvar', class: "btn btn-default"%>
        <% end %>
      </div>
      <!-- /.col-lg-6 (nested) -->
    </div>
    <!-- /.row (nested) -->
  </div>
  <!-- /.panel-body -->
</div>